<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="t1000" class="impl.ModelT1000"
          p:hand-ref="sonyHand"
          p:leg-ref="toshibaLeg"
          p:head-ref="sonyHead"
    >
        <constructor-arg value="silver" index="0" type="java.lang.String"/>
        <constructor-arg value="2006" index="1" type="int"/>
        <constructor-arg value="true" index="2" type="boolean"/>

        <!--<property name="hand" ref="sonyHand"/>-->
        <!--<property name="head" ref="toshibaHead"/>-->
        <!--<property name="leg" ref="sonyLeg"/>-->

    </bean>

    <bean id="t1000Empty" class="impl.ModelT1000">
        <constructor-arg ref="sonyHand"/>
        <constructor-arg ref="sonyHead"/>
        <constructor-arg ref="toshibaLeg"/>

        <!--<property name="hand" ref="sonyHand"/>-->
        <!--<property name="head" ref="toshibaHead"/>-->
        <!--<property name="leg" ref="sonyLeg"/>-->

    </bean>
    <bean id="sonyHand" class="impl.sony.SonyHand"/>
    <bean id="sonyHead" class="impl.sony.SonyHead"/>
    <bean id="sonyLeg" class="impl.sony.SonyLeg"/>
    <bean id="toshibaHand" class="impl.toshiba.ToshibaHand"/>
    <bean id="toshibaHead" class="impl.toshiba.ToshibaHead"/>
    <bean id="toshibaLeg" class="impl.toshiba.ToshibaLeg"/>

</beans>